
article {
  text-align: left;
}



/* Pattern styles */
.container {
  display: table;
  border:none;
}

.left-half {
  float: left;
  width: 30%;
}

.right-half {
  float: right;
  width: 70%;
  padding-left:50px;
}
